/* YOUR CUSTOM STYLES */

.fa{
  text-align:center
}
.activator {
  width: 100%;
}

.site-description {
  padding: 10px;
  text-align: left;
}
.project-background-image {
  background-repeat: no-repeat;
  background-image: url(http://interfacelift.com/wallpaper/previews/02179_piertonowhere_672x420.jpg);
  background-size: cover;
}
.aboutMe {
   text-align: center;
}
.skill {
    padding: 0.15em 0.9em;
    padding-top: 0.15em;
    padding-right: 0.9em;
    padding-bottom: 0.15em;
    padding-left: 0.9em;
    font-size: 0.9em;
    background-color: silver;
    border-radius: 41.625em;
    border-top-left-radius: 41.625em;
    border-bottom-right-radius: 41.625em;
    border-bottom-left-radius: 41.625em;
    background-color: darkgrey;
    display: inline;
}
.others-skills li {
    display: inline;
}
.headers {
  font-family: 'Montserrat', sans-serif;
}
.followUp {
  font-size: 50px;
}
.wayfarer3 {
  height: 100%;
}
.card-container{
  margin-top: 30px;
  margin-bottom: 30px;
}

@media (max-width: 768px) {
  .intro-info-content h1 {
    font-size: 32px;
  }
}
.resume-container {
  min-height: 850px;
}
.project-container{
  min-height: 850px;
}
.about-container{
  padding-top: 30px;
  padding-bottom: 30px;
}
.proj-card{
  min-height: 450px;
}
